_site
.bundle
.sass-cache
.jekyll-cache
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
Gemfile.lock
assets/libs/
node_modules/
vendor
.idea

# Template files to ignore
_posts/
_projects/
_books/
_news/
_pages/about_einstein.md
_pages/books.md
_pages/profiles.md
_pages/repositories.md
_pages/teaching.md
_pages/dropdown.md
_pages/news.md
_pages/publications.md
_pages/projects.md

# Template images
assets/img/1.jpg
assets/img/2.jpg
assets/img/3.jpg
assets/img/4.jpg
assets/img/5.jpg
assets/img/6.jpg
assets/img/7.jpg
assets/img/8.jpg
assets/img/9.jpg
assets/img/10.jpg
assets/img/11.jpg
assets/img/12.jpg
assets/img/rhino.png
assets/img/template_error.png
assets/img/book_covers/

# Documentation files
CONTRIBUTING.md
CUSTOMIZE.md
FAQ.md
INSTALL.md
LICENSE
README.md
docker-compose*.yml
Dockerfile
lighthouse_results/
readme_preview/
structure.txt
tatus